APP_NAME=IFFIU
DEBUG=false
SECRET_KEY=Schwalbe1980#
DATABASE_URL=postgresql://iffiu:iffiu_secret@db:5432/iffiu
DB_PASSWORD=Schwalbe1980#
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
KAMPA_LAMBDA_FUNCTION=kampa-predict-analyze
KAMPA_S3_BUCKET=kampa-transcoded-output
KAMPA_UPLOAD_BUCKET=kampa-uploads
